/Assets/Scripts/** linguist-language=C#
/Assets/TextMesh** linguist-language=C#
/Packages/** linguist-vendored
/Assets/Plugins/** linguist-vendored
/Assets/**/*.shader linguist-vendored
/Assets/**/*.compute linguist-vendored
/Assets/**/*.cginc linguist-vendored
